<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bienvenu au club privé</h1>

  <h2>
    C'est un club privé, connecte toi ou inscrit toi
  </h2>

  <%= link_to "S'inscrire", "/signup", class: "btn btn-lg btn-primary" %>
</div>

